.navbarComponent{
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    position: relative;
    padding-bottom: 2px;
}

.siteHeaderImage{
    width: 100%;
    position: relative;
    top: 0;
}

.navbarSiteLogo{
    position: absolute;
    top: 1vh;
    left: 25%;
    border-radius: 0.5rem;
    z-index: 1;
    width: 50px;
    height: 50px;
}
.navbarSiteTitle {
    position: absolute;
    border: none;
    top: 1vh;
    max-width: 25%;
    left: 1vw;
    color: white;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.navbarSiteSubTitle {
    position: absolute;
    border: none;
    top: 38%;
    width: 80%;
    left: 9.5%;
    color: rgba(255, 209, 91, 1);
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.navbarSearchDiv{
    background-color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55%;
    left: 7.5vw;
    width: 80%;
    padding: 10px;
    border-radius: 1rem;
}

.navbarSearch {
    display: block;
    position: relative;
    width: 95%;
    padding: 20px;
    font-size: 14px;
    outline: none;
    border: none;
}

.navbarSearchIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 5%;    
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    transition: 0.5s ease;
}

.navbarSearchIcon:hover{
    transform: scale(1.05);
    background-color: rgb(221, 181, 1) ;
    color: black;
}